*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    display: flex;
    height: 100vh;
    width: 100%;
}

/* common*/
.hr{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}
hr{
    border: 1px solid green;
    width: 50%;
    margin-left: 25%;
    
}
.gap{
    gap:1rem;
    font-size: x-large;
}
.ruotato{
    transform: rotate(180deg);}
.riga{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    
}
.colonna{
    
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.cerchio{
    height: 90%;
    width: 100%;
    border-radius: 50%;
}
.white{
    color: white;
}
.grey{
    color: grey;
}
/* ******************** header*************************** */
header{
    position: relative;
    background-color: black;
    height: calc(100vh - 5rem);
    width:  13rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    justify-content: space-between;
}
.conteiner_header{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    
}
.logo{
    margin: 0.5rem;
    width: 8rem;
    display: flex;
    
}
.buttons{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.buttons button{
    padding-left: 1rem;
    width: fit-content;
    padding-right: 20%;
    background-color: rgb(0, 0, 0);
    border: none;
    color:grey;
    border-left: solid;
    border-left-color:black;
    margin-bottom: 0.5rem;
    font-size:medium;
}
.buttons button:first-child{
    color: white;
    border-left-color: green;
}

 .buttons button:hover{
    color: white;
}
.playlist{
    margin: 1rem;
    color: grey;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: scroll;
    scrollbar-width: none;
}
.playlist .crea_playlist:hover{
    color:white;
}
.playlist span:hover {
    color:white;
}
.playlist span{
    margin-bottom: 1rem;
}

.crea_playlist{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-size:large;
    gap: 0.2rem;
    
}
.crea_playlist i{
    font-size:xx-large;
}
.recenti .card #img{
    border-radius: 50%;
}
.container_profilo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
   
   
    width: 80%;
    
}
#app:hover {
    color: white;
}
#app{
    
    border-bottom: solid;
    border-color: grey;
    width: 90%;
    color: grey;
}
#profilo{
    gap: 5px;
    display: flex;
    align-self: center;
    width: 90%;
    
    color: rgb(255, 255, 255);
}
/*************************** main ***********************************/
main{
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: rgb(37, 37, 37);
    height:calc(100vh - 5rem);
    width: 100%;
}
#upgrade{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 5rem;
    background-color: rgb(13, 13, 13);
    
}
.kill{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgb(52, 52, 52);
    

}
.upgrade:hover .upgrade{
    background-color: antiquewhite;
 display: none;
}
#b_up{
    border-radius: 50px;
    border:solid;
    border-color: white;
    color: white;
    height: 70%;
    
    background-color: rgb(13, 13, 13);
    
}
#b_up:hover{
    height: 80%;
    /* transition: 0.5s; */
}
.buttons_main{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.buttons_main button:hover{
    color:white;
}
.buttons_main button{
    background: none;
    color: grey;
    padding: 1rem;
    border: none;
}

.recenti{
    display: flex;
    flex-direction: column;
    
    
}
.conteiner_card{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
   
    /* overflow-x: scroll; */
    scrollbar-color: grey;
}
.recenti h1{
    margin-top: 1rem;
    color: white;
    padding-left: 1rem;
}
.recenti span{
    color: grey;
    padding-left: 1rem;
}
.card{
    position: relative;
    height: fit-content;
    max-width: calc(100%/6);
    margin-left: 0.5rem;
}
.card:hover img{

    opacity: 0.3;
}
.play{
    position: absolute;
    top: 5rem;
    left: 5rem;
    color: white;
    font-size: 3rem;
    display: none;
}

.card:hover .play{
    opacity: 1;
   display: inline;
}


.card img {
    width: 100%;
    z-index: 0;
}
.card h3{
    color: white;
}
.card span{
    color: rgb(255, 255, 255);
}

/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(71, 71, 71);
    min-height: 5rem;
    width: 100%;
    overflow: hidden;
    scrollbar-width: none;
}
.f1{
    display: flex;
    justify-self: start;
    align-items: center;
    height: 90%;
    width: 20%;
    margin-left: 1rem;
}
.img{
    height: 100%;
    
    width: 4rem;
    
    margin-right: 0.5rem;
}
.img img {
    width: 100%;
}
.container_f1{
    display:flex;
    flex-direction:row;
    align-items: center;
    height: fit-content;
    width: 100%;
}
.container_f1 div{
    margin-right:2rem
}
.container_f1 i{
   margin-left: 0.5rem;
}
.container_f1 i:hover{
    color: white;
}
.container_f1 p:hover{
    text-decoration: underline;
}
.f2{
    justify-self: center;
    height: 90%;
    width: 40%;
    
}
.container_f2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    height: calc(100%/2);
    width: 100%;
}
.container_f2 span{
    font-size: small;
    color:  white;
}

.song{
    border-radius: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 10px;
    width: 70%;
    border: solid;
    color: rgb(122, 122, 122);
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container_f2 i:hover{
    font-size: 1.7rem;
    /* transition: 0.5s; */
}
.hover_song{
    border-radius: 20px;
    margin-top: 0;
    padding-top: 0;
    width: 30%;
    border:solid;
    color: rgb(255, 255, 255);
    background-color:rgb(255, 255, 255) ;
    height: 100%;
    display: flex;
}
.song:hover .hover_song{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: rgb(65, 255, 65);
    background-color: rgb(65, 255, 65);
}
.song:hover .song_cerchio{
    
    height: 15px;
    width: 15px;
    background-color: rgb(147, 147, 147);
    border-radius: 50%;
}
.f3{
    color: white;
    justify-self:end;
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    justify-self:end;
    
}
.song_f3{
    height: 8px;
}
/* MEDIA QUERY */
@media screen and (max-width:768px) {
  .conteiner_card {
    flex-wrap: wrap;
  }
  .card{
  min-width: 10rem;
  }
  .recenti:first-child{
    align-items: center;
    justify-content: center;
}
.container_profilo{
    font-size: small;
}
.song_f3{
    display: none;
}
footer img{
    display: none;
}
.container_f1{
    justify-content: right;
}
.f1{
    margin-left:7% ;
    justify-content: left;
    width: 15%;
    font-size: 60%;
    }

}
/***************************************************************** */
@media screen and (max-width:480px){
    header{
        
        width: 3rem;
    }
    header button b{
        display: none;
    }
    header .playlist{
        display: none;
    }
    .logo{
        display: none;
    }
    .recenti{
        align-items: center;
    }
    .conteiner_card{
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card{
        min-width: 15rem;
      }
      .container_profilo{
        display: flex;
        width: 20%;
        font-size: small;
        justify-content: center;
        align-items: center;
      }
      .container_profilo b{
        display: none;
      }
      .f1{
        width: 15%;
        font-size: 60%;
        }
        .container_f1 i{
            margin-left: 0.1rem;
        }
        #contrai{
            width: 1rem;
        }
        .f3{
            flex-direction: column-reverse;
             font-size: xx-small;
             height: 100%;
        }
        .song_f3{
            display: none;
        }
        .container_f1{
            align-items: center;
            float: left;
        }
        .container_f1 img{
            display: none;
        }
      }


